<div class="card">
  <div class="blurring dimmable image">
    <div class="ui dimmer">
      <div class="content">
        <div class="center">
          <div class="ui inverted button">Like</div>
        </div>
      </div>
    </div>
    <img src="*imgSrc*">
  </div>
  <div class="content">
    <a class="header">*name* - *type*</a>
    <div class="meta">
      <span class="date">*about*</span>
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="thumbs outline up icon"></i>
      like me
    </a>
  </div>
</div>
